::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #dbe6e4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #11d4b4;
}

.glass-card {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.transition-height {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

input.ng-dirty.ng-valid:not(:focus),
input.ng-touched.ng-valid:not(:focus) {
  border-color: #11d4b4 !important;
  border-width: 2px !important;
}

input.ng-dirty.ng-invalid:not(:focus),
input.ng-touched.ng-invalid:not(:focus) {
  border-color: #ef4444 !important;
  border-width: 2px !important;
}

@media (prefers-color-scheme: dark) {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #132623 inset !important;
    -webkit-text-fill-color: white !important;
  }


  input.ng-dirty.ng-invalid:not(:focus),
  input.ng-touched.ng-invalid:not(:focus) {
    border-color: #ef4444 !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: var(--text-main) !important;
  transition: background-color 5000s ease-in-out 0s;
}