name: CI Feature

on:
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'

jobs:
  build:
    name: Build Feature Branch
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build Project
        working-directory: backend
        run: ./gradlew clean build -x test

      - name: Run Tests
        working-directory: backend
        run: ./gradlew test

      - name: Short Summary
        run: echo "Feature branch validated successfully!"
